/* Reset de márgenes y padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Tipografía general */
body {
    font-family: 'EB Garamond', serif;
    background-color: #f5f5f5;
    color: #333;
    padding: 20px;
}

/* Estilo del contenedor principal con grid */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

/* Estilos de las secciones */
header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}


/* Estilo de la sección principal (main) con grid */
/* main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
} */

/* Estilos de cada sección del bento */
.grid-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilo específico para el formulario de contacto usando grid */
form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    /* font-family: 'EB Garamond', serif; */
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    justify-self: end;
    padding: 10px 20px;
    background-color: #3092fc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 10px;
}

/* Estilo responsive */
@media (max-width: 768px) {
    main {
        grid-template-columns: 1fr;
    }
}

/* Definir 3 columnas como máximo en pantallas grandes */
@media (min-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
}